<!-- À propos -->
<section class="section-about-me-v2 flat-spacing" id="aboutScroll">
    <div class="container">
        <div class="about-main flat-spacing-bottom">
            <div class="davies-video">
                <video class="video" muted="" autoplay="" loop="" playsinline="">
                    <source src="assets/images/video/davies-video.mp4" type="video/mp4">
                </video>
                <div class="overlay mark"></div>
                <div class="overlay bg-effect">
                    <img loading="lazy" width="1296" height="729"
                         src="assets/images/item/dither-effect.svg" alt="Image">
                </div>
            </div>
            <div class="content">
                <div class="top text-display-1 fw-semibold letter-space--3">
                    <p class="effectFade fadeUp">Qui est</p>
                    <p class="effectFade fadeUp" data-delay="0.1">derrière Tao<span class="text-primary">_</span></p>
                </div>
                <h5 class="text-color-change letter-space--2 fw-normal">
                    Entrepreneur, fondateur de Propul'SEO.
                    Nous accompagnons les TPE/PME sur des outils qui leur font
                    gagner du temps.
                    Tao, c'est l'outil que j'utilise pour moi.
                    Maintenant tu peux l'utiliser aussi.
                </h5>
            </div>
        </div>
    </div>
</section>
