<!-- Scroll Top -->
<button id="goTop">
    <span class="border-progress"></span>
    <span class="ic-wrap">
        <span class="icon icon-arrow-caret-right"></span>
    </span>
</button>

<!-- Preload -->
<div class="preloader overflow-hidden">
    <div class="site-name"><span>TAO</span></div>
    <div class="preloader-gutters">
        {% for i in range(0, 8) %}
        <div class="bar">
            <div class="inner-bar"></div>
        </div>
        {% endfor %}
    </div>
</div>
