                <div class="canvas_foot">
                    <div class="left">
                        <a href="mailto:{{ site.email }}" class="link text-caption">{{ site.email | upper }}</a>
                        <p class="text-caption">KOH TAO <span class="clock"></span></p>
                    </div>
                    <div class="right">
                        <a href="{{ site.social.instagram }}" class="tf-link-icon text-caption link">
                            <i class="icon icon-arrow-top-right"></i>
                            INSTAGRAM
                        </a>
                        <a href="{{ site.social.linkedin }}" class="tf-link-icon text-caption link">
                            <i class="icon icon-arrow-top-right"></i>
                            LINKEDIN
                        </a>
                    </div>
                </div>
